# Виртуальное окружение
venv
env
.venv

# Git
.git
.gitignore

# База данных SQLite
db.sqlite3
*.sqlite3

# Файлы IDE
.idea
.vscode
*.swp
*.swo

# Файлы с переменными окружения
.env
.env.local

# Кэш Python
__pycache__
*.pyc
*.pyo
.pytest_cache

# Медиа-файлы (если есть)
media/